<!-- 08_商品登録確認 -->
<md-card>
    <div fxLayoutWrap fxLayoutAlign="space-around center">
        <md-card-content fxLayoutWrap fxLayoutAlign="space-around center">
            <h2>商品情報入力確認</h2>
            <table>
                <tr>
                    <label>商品名：{{goods.goodsNm}}</label>
                    <br/>
                    <br/>
                </tr>
                <tr>
                    <label>値段：{{goods.price}}</label>
                    <br/>
                    <br/>
                </tr>
                <tr>
                    <label>在庫数：{{goods.stock}}</label>
                    <br/>
                    <br/>
                </tr>
                <tr>
                    <label>基本情報：{{goods.basicInfo}}</label>
                    <br/>
                    <br/>
                </tr>
                <tr>
                    <label>キーワード：{{goods.keyword}}</label>
                    <br/>
                    <br/>
                </tr>
                <tr>
                    <label>画像：</label>
                    <br/>
                    <img *ngIf="goods.picture" src="{{googleDrivePictureUrl}}{{goods.picture}}">
                    <br/>
                    <br/>
                </tr>
                <tr>
                    <td><button md-raised-button color="primary" (click)="backRegist()">戻る</button></td>
                    <td><button md-raised-button color="primary" (click)="registGoods(goods)">登録する</button></td>
                </tr>
            </table>
        </md-card-content>
    </div>
</md-card>
