<md-card>
  <md-card-content>
    <div fxLayoutWrap fxLayoutAlign="space-around center" fxLayout="row">
      <md-card *ngFor = "let goods of goodsList" fxFlex="32%" fxFlex.xs="100%">
        <a [routerLink]="['/goodsdetail', goods.goodsId]"><img md-card-image src="{{googleDrivePictureUrl}}{{goods.picture}}" ></a>
        <md-card-content>
          <a md-raised-button [routerLink]="['/goodsdetail', goods.goodsId]">{{goods.goodsNm}}</a>
        </md-card-content>
        <md-card-content>
          <p>価格：¥{{goods.price}}</p>
          <p *ngIf="goods.stock > 5">在庫：{{goods.stock}}(在庫あり)</p>
          <p *ngIf="goods.stock < 5 && goods.stock > 0">在庫：{{goods.stock}}(残りわずか)</p>
          <p *ngIf="goods.stock == 0">在庫：{{goods.stock}}(在庫切れ)</p>
        </md-card-content>
      </md-card>
    </div>
  </md-card-content>
</md-card>