<md-card>
    <div fxLayoutWrap fxLayoutAlign="space-around center">
        <md-card-content fxLayoutWrap fxLayoutAlign="space-around center">
            <table>
                <tr>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <h1>商品の登録を完了しました</h1>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </tr>
                <tr>
                    <button md-raised-button color="primary" routerLink="/goodslist" >登録商品検索へ</button>
                </tr>
            </table>    
        </md-card-content>
    </div>
</md-card>
