<!-- 04_ユーザ登録完了 -->

<md-card>
    <div fxLayoutWrap fxLayoutAlign="space-around center">
        <md-card-content fxLayoutWrap fxLayoutAlign="space-around center">
            <table>
                 <tr>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <h1>ユーザ情報の登録が完了しました。</h1>
    
                        <br/>
    　　　　　　　　　　  <h1>ショッピングをお楽しみください。</h1>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                        <br/>
    
                    </tr>
    
                    <tr>
    
                        <button md-raised-button color="primary" routerLink="/goodssearch" >登録商品検索へ</button>
    
                    </tr>
    
                </table>    
    
            </md-card-content>
    
        </div>
    
    </md-card>