<!-- 01_トップ -->
<div style="text-align:center">
  <p><img width="400" src="assets/logo_large.png"></p>
<div style="text-align:center">
  <button md-raised-button color="primary" routerLink="/goodssearch" >商品検索★★★</button>
</div>
<div style="text-align:center">
  <p><img src="assets/description.jpg"></p>
</div>
<div class="regist">
  <label class="regist message">出品</label>
  <button md-fab color="primary" class="large_button" routerLink="/goodsregist">
      <md-icon class="large_icon">photo_camera</md-icon>
  </button>
</div>
